.logo > a{
    margin: 0 auto;
}
.logo > a > img{
    height: 60px;
}
.navbar-sidebar .navbar__list li a i.fa-discord{
    margin-right: 25px;
}
.navbar-sidebar .navbar__list li a i.fa-comment-alt{
    margin-right: 23px;
}
.navbar-sidebar .navbar__list li a i.fa-volume-down{
    margin-right: 23px;
    margin-left: 6px;
}
.navbar-sidebar .navbar__list li a i.fa-hashtag{
    margin-right: 23px;
    margin-left: 3px;
}
.menu-sidebar{
    width: 235px;
}
.page-container {
    padding-left: 235px;
}
.table-earning tbody tr:hover td {

    color: #808080;
    cursor: default;

}
.table-earning tbody tr td i:hover{
    cursor: pointer;
}
.table-earning tbody td.text-right {

    padding-left: 15px;
    padding-right: 54px;

}
.del-btn:hover{
    background-color: #d22307;
    border-color: #d22307;
}
.animsition, .animsition-overlay{
    opacity: 1;
}
@media (max-width: 991px) {
    .page-container {
        position: relative;
        top: 88px;
        padding-left: 0;
    }
}